<a href="https://colab.research.google.com/github/pratha345/Devops-Practical/blob/main/23_MACHINE_LEARNING_PROJECT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [7]:
credit_card_data = pd.read_csv('/content/creditcard.csv')

In [9]:
Orgcredit_card_data = credit_card_data
credit_card_data

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47623,43281,-0.696585,1.108944,1.413769,-0.127104,0.018555,-0.455078,0.587554,0.113729,-0.121544,...,-0.239606,-0.547457,0.045935,0.029361,-0.228841,0.108686,0.388269,0.173609,5.49,0.0
47624,43282,-0.282262,-1.212401,2.174897,-0.181501,-1.604027,-0.332694,-1.154018,0.223029,0.605392,...,-0.444623,-0.224011,0.728520,0.958983,-0.712869,0.908167,-0.054453,-0.107284,10.00,0.0
47625,43282,-1.513495,-0.206282,-0.702405,1.056423,1.058711,-0.708973,0.611571,0.249949,-0.844057,...,0.089904,0.723147,1.244035,-0.526450,-0.267320,-0.336504,0.398350,-0.017047,89.99,0.0
47626,43282,-0.659193,1.270953,0.946464,-0.370180,1.619207,-0.288297,1.588317,-0.492843,-0.829508,...,-0.060858,-0.028588,-0.704004,-0.971430,1.036058,-0.329102,-0.276970,-0.183521,0.99,0.0
47627,43282,1.121749,-0.208202,0.660816,0.857988,-0.823614,-0.422509,-0.286708,0.098616,0.541126,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
credit_card_data.shape

(47628, 31)

In [11]:
credit_card_data.info

<bound method DataFrame.info of         Time        V1        V2        V3        V4        V5        V6  \
0          0 -1.359807 -0.072781  2.536347  1.378155 -0.338321  0.462388
1          0  1.191857  0.266151  0.166480  0.448154  0.060018 -0.082361
2          1 -1.358354 -1.340163  1.773209  0.379780 -0.503198  1.800499
3          1 -0.966272 -0.185226  1.792993 -0.863291 -0.010309  1.247203
4          2 -1.158233  0.877737  1.548718  0.403034 -0.407193  0.095921
...      ...       ...       ...       ...       ...       ...       ...
47623  43281 -0.696585  1.108944  1.413769 -0.127104  0.018555 -0.455078
47624  43282 -0.282262 -1.212401  2.174897 -0.181501 -1.604027 -0.332694
47625  43282 -1.513495 -0.206282 -0.702405  1.056423  1.058711 -0.708973
47626  43282 -0.659193  1.270953  0.946464 -0.370180  1.619207 -0.288297
47627  43282  1.121749 -0.208202  0.660816  0.857988 -0.823614 -0.422509

             V7        V8        V9  ...       V21       V22       V23  \
0      0.239599  0.098698  0.363787  ... -0.018307  0.277838 -0.110474
1     -0.078803  0.085102 -0.255425  ... -0.225775 -0.638672  0.101288
2      0.791461  0.247676 -1.514654  ...  0.247998  0.771679  0.909412
3      0.237609  0.377436 -1.387024  ... -0.108300  0.005274 -0.190321
4      0.592941 -0.270533  0.817739  ... -0.009431  0.798278 -0.137458
...         ...       ...       ...  ...       ...       ...       ...
47623  0.587554  0.113729 -0.121544  ... -0.239606 -0.547457  0.045935
47624 -1.154018  0.223029  0.605392  ... -0.444623 -0.224011  0.728520
47625  0.611571  0.249949 -0.844057  ...  0.089904  0.723147  1.244035
47626  1.588317 -0.492843 -0.829508  ... -0.060858 -0.028588 -0.704004
47627 -0.286708  0.098616  0.541126  ...       NaN       NaN       NaN

            V24       V25       V26       V27       V28  Amount  Class
0      0.066928  0.128539 -0.189115  0.133558 -0.021053  149.62    0.0
1     -0.339846  0.167170  0.125895 -0.008983  0.014724    2.69    0.0
2     -0.689281 -0.327642 -0.139097 -0.055353 -0.059752  378.66    0.0
3     -1.175575  0.647376 -0.221929  0.062723  0.061458  123.50    0.0
4      0.141267 -0.206010  0.502292  0.219422  0.215153   69.99    0.0
...         ...       ...       ...       ...       ...     ...    ...
47623  0.029361 -0.228841  0.108686  0.388269  0.173609    5.49    0.0
47624  0.958983 -0.712869  0.908167 -0.054453 -0.107284   10.00    0.0
47625 -0.526450 -0.267320 -0.336504  0.398350 -0.017047   89.99    0.0
47626 -0.971430  1.036058 -0.329102 -0.276970 -0.183521    0.99    0.0
47627       NaN       NaN       NaN       NaN       NaN     NaN    NaN

[47628 rows x 31 columns]>

In [15]:
credit_card_data.isnull(). sum(axis=0).sort_values(ascending=False)

Class     1
Amount    1
V28       1
V27       1
V26       1
V25       1
V24       1
V23       1
V22       1
V21       1
V20       1
V19       1
V18       1
V17       1
V16       0
Time      0
V1        0
V14       0
V13       0
V12       0
V11       0
V10       0
V9        0
V8        0
V7        0
V6        0
V5        0
V4        0
V3        0
V2        0
V15       0
dtype: int64

In [17]:
credit_card_data.isnull(). sum(axis=0).sort_values(ascending=False).head(10)

Class     1
Amount    1
V28       1
V27       1
V26       1
V25       1
V24       1
V23       1
V22       1
V21       1
dtype: int64

In [18]:
credit_card_data.isnull().sum() > 0

Time      False
V1        False
V2        False
V3        False
V4        False
V5        False
V6        False
V7        False
V8        False
V9        False
V10       False
V11       False
V12       False
V13       False
V14       False
V15       False
V16       False
V17        True
V18        True
V19        True
V20        True
V21        True
V22        True
V23        True
V24        True
V25        True
V26        True
V27        True
V28        True
Amount     True
Class      True
dtype: bool

In [19]:
d = credit_card_data.isnull() . any

In [20]:
d

<bound method NDFrame._add_numeric_operations.<locals>.any of         Time     V1     V2     V3     V4     V5     V6     V7     V8     V9  \
0      False  False  False  False  False  False  False  False  False  False
1      False  False  False  False  False  False  False  False  False  False
2      False  False  False  False  False  False  False  False  False  False
3      False  False  False  False  False  False  False  False  False  False
4      False  False  False  False  False  False  False  False  False  False
...      ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
47623  False  False  False  False  False  False  False  False  False  False
47624  False  False  False  False  False  False  False  False  False  False
47625  False  False  False  False  False  False  False  False  False  False
47626  False  False  False  False  False  False  False  False  False  False
47627  False  False  False  False  False  False  False  False  False  False

       ...    V21    V22    V23    V24    V25    V26    V27    V28  Amount  \
0      ...  False  False  False  False  False  False  False  False   False
1      ...  False  False  False  False  False  False  False  False   False
2      ...  False  False  False  False  False  False  False  False   False
3      ...  False  False  False  False  False  False  False  False   False
4      ...  False  False  False  False  False  False  False  False   False
...    ...    ...    ...    ...    ...    ...    ...    ...    ...     ...
47623  ...  False  False  False  False  False  False  False  False   False
47624  ...  False  False  False  False  False  False  False  False   False
47625  ...  False  False  False  False  False  False  False  False   False
47626  ...  False  False  False  False  False  False  False  False   False
47627  ...   True   True   True   True   True   True   True   True    True

       Class
0      False
1      False
2      False
3      False
4      False
...      ...
47623  False
47624  False
47625  False
47626  False
47627   True

[47628 rows x 31 columns]>

In [29]:
credit_card_data.isnull().any(axis=0)

Time      False
V1        False
V2        False
V3        False
V4        False
V5        False
V6        False
V7        False
V8        False
V9        False
V10       False
V11       False
V12       False
V13       False
V14       False
V15       False
V16       False
V17        True
V18        True
V19        True
V20        True
V21        True
V22        True
V23        True
V24        True
V25        True
V26        True
V27        True
V28        True
Amount     True
Class      True
dtype: bool

In [30]:
d = credit_card_data.isnull().any(axis=0)
d

Time      False
V1        False
V2        False
V3        False
V4        False
V5        False
V6        False
V7        False
V8        False
V9        False
V10       False
V11       False
V12       False
V13       False
V14       False
V15       False
V16       False
V17        True
V18        True
V19        True
V20        True
V21        True
V22        True
V23        True
V24        True
V25        True
V26        True
V27        True
V28        True
Amount     True
Class      True
dtype: bool

In [31]:
index = d.index[d.values]

In [32]:
index

Index(['V17', 'V18', 'V19', 'V20', 'V21', 'V22', 'V23', 'V24', 'V25', 'V26',
       'V27', 'V28', 'Amount', 'Class'],
      dtype='object')

In [36]:
credit_card_data.isnull().all(axis=0)

Time      False
V1        False
V2        False
V3        False
V4        False
V5        False
V6        False
V7        False
V8        False
V9        False
V10       False
V11       False
V12       False
V13       False
V14       False
V15       False
V16       False
V17       False
V18       False
V19       False
V20       False
V21       False
V22       False
V23       False
V24       False
V25       False
V26       False
V27       False
V28       False
Amount    False
Class     False
dtype: bool

In [38]:
credit_card_data.isnull().all(axis=1).sum()

0

In [39]:
credit_card_data.isnull().sum(axis=1)==21

0        False
1        False
2        False
3        False
4        False
         ...
47623    False
47624    False
47625    False
47626    False
47627    False
Length: 47628, dtype: bool

In [40]:
credit_card_data.isnull().sum().sort_values(ascending=False)/len(credit_card_data) * 100

Class     0.0021
Amount    0.0021
V28       0.0021
V27       0.0021
V26       0.0021
V25       0.0021
V24       0.0021
V23       0.0021
V22       0.0021
V21       0.0021
V20       0.0021
V19       0.0021
V18       0.0021
V17       0.0021
V16       0.0000
Time      0.0000
V1        0.0000
V14       0.0000
V13       0.0000
V12       0.0000
V11       0.0000
V10       0.0000
V9        0.0000
V8        0.0000
V7        0.0000
V6        0.0000
V5        0.0000
V4        0.0000
V3        0.0000
V2        0.0000
V15       0.0000
dtype: float64

In [42]:
round(credit_card_data.isnull().sum().sort_values(ascending=False)/len(credit_card_data) *100,2)

Class     0.0
Amount    0.0
V28       0.0
V27       0.0
V26       0.0
V25       0.0
V24       0.0
V23       0.0
V22       0.0
V21       0.0
V20       0.0
V19       0.0
V18       0.0
V17       0.0
V16       0.0
Time      0.0
V1        0.0
V14       0.0
V13       0.0
V12       0.0
V11       0.0
V10       0.0
V9        0.0
V8        0.0
V7        0.0
V6        0.0
V5        0.0
V4        0.0
V3        0.0
V2        0.0
V15       0.0
dtype: float64

In [43]:
col = credit_card_data.isnull().sum().sort_values(ascending=False).head(3).index.values

In [44]:
col

array(['Class', 'Amount', 'V28'], dtype=object)

In [45]:
credit_card_data = credit_card_data.drop(col,axis='columns')

In [46]:
credit_card_data

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V18,V19,V20,V21,V22,V23,V24,V25,V26,V27
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,0.025791,0.403993,0.251412,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.183361,-0.145783,-0.069083,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,-0.121359,-2.261857,0.524980,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,1.965775,-1.232622,-0.208038,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.038195,0.803487,0.408542,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47623,43281,-0.696585,1.108944,1.413769,-0.127104,0.018555,-0.455078,0.587554,0.113729,-0.121544,...,-0.744857,-0.367429,0.151876,-0.239606,-0.547457,0.045935,0.029361,-0.228841,0.108686,0.388269
47624,43282,-0.282262,-1.212401,2.174897,-0.181501,-1.604027,-0.332694,-1.154018,0.223029,0.605392,...,0.644238,-0.284494,-0.641564,-0.444623,-0.224011,0.728520,0.958983,-0.712869,0.908167,-0.054453
47625,43282,-1.513495,-0.206282,-0.702405,1.056423,1.058711,-0.708973,0.611571,0.249949,-0.844057,...,0.672301,1.106298,-0.187431,0.089904,0.723147,1.244035,-0.526450,-0.267320,-0.336504,0.398350
47626,43282,-0.659193,1.270953,0.946464,-0.370180,1.619207,-0.288297,1.588317,-0.492843,-0.829508,...,0.005801,-0.150806,0.033524,-0.060858,-0.028588,-0.704004,-0.971430,1.036058,-0.329102,-0.276970
47627,43282,1.121749,-0.208202,0.660816,0.857988,-0.823614,-0.422509,-0.286708,0.098616,0.541126,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
round(credit_card_data.isnull().sum().sort_values(ascending=False)/len(credit_card_data) * 100,2)

V27     0.0
V26     0.0
V25     0.0
V24     0.0
V23     0.0
V22     0.0
V21     0.0
V20     0.0
V19     0.0
V18     0.0
V17     0.0
V1      0.0
V16     0.0
V15     0.0
Time    0.0
V13     0.0
V12     0.0
V11     0.0
V10     0.0
V9      0.0
V8      0.0
V7      0.0
V6      0.0
V5      0.0
V4      0.0
V3      0.0
V2      0.0
V14     0.0
dtype: float64

In [53]:
len(credit_card_data[credit_card_data.isnull().sum(axis=1) > 5])/len(credit_card_data)*1000000000000

20996052.74208449

In [54]:
credit_card_data = credit_card_data[credit_card_data.isnull().sum(axis=1) <=5]

In [55]:
credit_card_data

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V18,V19,V20,V21,V22,V23,V24,V25,V26,V27
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,0.025791,0.403993,0.251412,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.183361,-0.145783,-0.069083,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,-0.121359,-2.261857,0.524980,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,1.965775,-1.232622,-0.208038,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.038195,0.803487,0.408542,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47622,43281,1.468348,-1.140941,0.372482,-1.452282,-1.395891,-0.350258,-1.126791,0.032524,-1.582322,...,-0.381221,-0.370403,-0.421343,-0.461170,-1.053703,0.206816,-0.383795,0.038269,-0.424625,0.039344
47623,43281,-0.696585,1.108944,1.413769,-0.127104,0.018555,-0.455078,0.587554,0.113729,-0.121544,...,-0.744857,-0.367429,0.151876,-0.239606,-0.547457,0.045935,0.029361,-0.228841,0.108686,0.388269
47624,43282,-0.282262,-1.212401,2.174897,-0.181501,-1.604027,-0.332694,-1.154018,0.223029,0.605392,...,0.644238,-0.284494,-0.641564,-0.444623,-0.224011,0.728520,0.958983,-0.712869,0.908167,-0.054453
47625,43282,-1.513495,-0.206282,-0.702405,1.056423,1.058711,-0.708973,0.611571,0.249949,-0.844057,...,0.672301,1.106298,-0.187431,0.089904,0.723147,1.244035,-0.526450,-0.267320,-0.336504,0.398350
47626,43282,-0.659193,1.270953,0.946464,-0.370180,1.619207,-0.288297,1.588317,-0.492843,-0.829508,...,0.005801,-0.150806,0.033524,-0.060858,-0.028588,-0.704004,-0.971430,1.036058,-0.329102,-0.276970

In [56]:
credit_card_data

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V18,V19,V20,V21,V22,V23,V24,V25,V26,V27
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,0.025791,0.403993,0.251412,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.183361,-0.145783,-0.069083,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,-0.121359,-2.261857,0.524980,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,1.965775,-1.232622,-0.208038,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.038195,0.803487,0.408542,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47622,43281,1.468348,-1.140941,0.372482,-1.452282,-1.395891,-0.350258,-1.126791,0.032524,-1.582322,...,-0.381221,-0.370403,-0.421343,-0.461170,-1.053703,0.206816,-0.383795,0.038269,-0.424625,0.039344
47623,43281,-0.696585,1.108944,1.413769,-0.127104,0.018555,-0.455078,0.587554,0.113729,-0.121544,...,-0.744857,-0.367429,0.151876,-0.239606,-0.547457,0.045935,0.029361,-0.228841,0.108686,0.388269
47624,43282,-0.282262,-1.212401,2.174897,-0.181501,-1.604027,-0.332694,-1.154018,0.223029,0.605392,...,0.644238,-0.284494,-0.641564,-0.444623,-0.224011,0.728520,0.958983,-0.712869,0.908167,-0.054453
47625,43282,-1.513495,-0.206282,-0.702405,1.056423,1.058711,-0.708973,0.611571,0.249949,-0.844057,...,0.672301,1.106298,-0.187431,0.089904,0.723147,1.244035,-0.526450,-0.267320,-0.336504,0.398350
47626,43282,-0.659193,1.270953,0.946464,-0.370180,1.619207,-0.288297,1.588317,-0.492843,-0.829508,...,0.005801,-0.150806,0.033524,-0.060858,-0.028588,-0.704004,-0.971430,1.036058,-0.329102,-0.276970

In [58]:
round(credit_card_data.isnull().sum().sort_values(ascending=False)/len(credit_card_data) *10000000,20)

Time    0.0
V1      0.0
V26     0.0
V25     0.0
V24     0.0
V23     0.0
V22     0.0
V21     0.0
V20     0.0
V19     0.0
V18     0.0
V17     0.0
V16     0.0
V15     0.0
V14     0.0
V13     0.0
V12     0.0
V11     0.0
V10     0.0
V9      0.0
V8      0.0
V7      0.0
V6      0.0
V5      0.0
V4      0.0
V3      0.0
V2      0.0
V27     0.0
dtype: float64

In [66]:
credit_card_data[~np.isnan(credit_card_data['V3'])]

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V18,V19,V20,V21,V22,V23,V24,V25,V26,V27
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,0.025791,0.403993,0.251412,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.183361,-0.145783,-0.069083,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,-0.121359,-2.261857,0.524980,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,1.965775,-1.232622,-0.208038,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.038195,0.803487,0.408542,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47622,43281,1.468348,-1.140941,0.372482,-1.452282,-1.395891,-0.350258,-1.126791,0.032524,-1.582322,...,-0.381221,-0.370403,-0.421343,-0.461170,-1.053703,0.206816,-0.383795,0.038269,-0.424625,0.039344
47623,43281,-0.696585,1.108944,1.413769,-0.127104,0.018555,-0.455078,0.587554,0.113729,-0.121544,...,-0.744857,-0.367429,0.151876,-0.239606,-0.547457,0.045935,0.029361,-0.228841,0.108686,0.388269
47624,43282,-0.282262,-1.212401,2.174897,-0.181501,-1.604027,-0.332694,-1.154018,0.223029,0.605392,...,0.644238,-0.284494,-0.641564,-0.444623,-0.224011,0.728520,0.958983,-0.712869,0.908167,-0.054453
47625,43282,-1.513495,-0.206282,-0.702405,1.056423,1.058711,-0.708973,0.611571,0.249949,-0.844057,...,0.672301,1.106298,-0.187431,0.089904,0.723147,1.244035,-0.526450,-0.267320,-0.336504,0.398350
47626,43282,-0.659193,1.270953,0.946464,-0.370180,1.619207,-0.288297,1.588317,-0.492843,-0.829508,...,0.005801,-0.150806,0.033524,-0.060858,-0.028588,-0.704004,-0.971430,1.036058,-0.329102,-0.276970

In [68]:
round(credit_card_data.isnull().sum().sort_values(ascending=False)/len(credit_card_data) * 100,2)

Time    0.0
V1      0.0
V26     0.0
V25     0.0
V24     0.0
V23     0.0
V22     0.0
V21     0.0
V20     0.0
V19     0.0
V18     0.0
V17     0.0
V16     0.0
V15     0.0
V14     0.0
V13     0.0
V12     0.0
V11     0.0
V10     0.0
V9      0.0
V8      0.0
V7      0.0
V6      0.0
V5      0.0
V4      0.0
V3      0.0
V2      0.0
V27     0.0
dtype: float64

In [69]:
credit_card_data['V4'].describe()

count    47627.000000
mean         0.191060
std          1.402208
min         -5.172595
25%         -0.714465
50%          0.195057
75%          1.070586
max         16.491217
Name: V4, dtype: float64

In [70]:
credit_card_data = credit_card_data[credit_card_data['V5'].notnull()]

In [71]:
credit_card_data

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V18,V19,V20,V21,V22,V23,V24,V25,V26,V27
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,0.025791,0.403993,0.251412,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.183361,-0.145783,-0.069083,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,-0.121359,-2.261857,0.524980,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,1.965775,-1.232622,-0.208038,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.038195,0.803487,0.408542,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47622,43281,1.468348,-1.140941,0.372482,-1.452282,-1.395891,-0.350258,-1.126791,0.032524,-1.582322,...,-0.381221,-0.370403,-0.421343,-0.461170,-1.053703,0.206816,-0.383795,0.038269,-0.424625,0.039344
47623,43281,-0.696585,1.108944,1.413769,-0.127104,0.018555,-0.455078,0.587554,0.113729,-0.121544,...,-0.744857,-0.367429,0.151876,-0.239606,-0.547457,0.045935,0.029361,-0.228841,0.108686,0.388269
47624,43282,-0.282262,-1.212401,2.174897,-0.181501,-1.604027,-0.332694,-1.154018,0.223029,0.605392,...,0.644238,-0.284494,-0.641564,-0.444623,-0.224011,0.728520,0.958983,-0.712869,0.908167,-0.054453
47625,43282,-1.513495,-0.206282,-0.702405,1.056423,1.058711,-0.708973,0.611571,0.249949,-0.844057,...,0.672301,1.106298,-0.187431,0.089904,0.723147,1.244035,-0.526450,-0.267320,-0.336504,0.398350
47626,43282,-0.659193,1.270953,0.946464,-0.370180,1.619207,-0.288297,1.588317,-0.492843,-0.829508,...,0.005801,-0.150806,0.033524,-0.060858,-0.028588,-0.704004,-0.971430,1.036058,-0.329102,-0.276970

In [72]:
round(credit_card_data.isnull().sum().sort_values(ascending=False)/len(credit_card_data) *100,2)

Time    0.0
V1      0.0
V26     0.0
V25     0.0
V24     0.0
V23     0.0
V22     0.0
V21     0.0
V20     0.0
V19     0.0
V18     0.0
V17     0.0
V16     0.0
V15     0.0
V14     0.0
V13     0.0
V12     0.0
V11     0.0
V10     0.0
V9      0.0
V8      0.0
V7      0.0
V6      0.0
V5      0.0
V4      0.0
V3      0.0
V2      0.0
V27     0.0
dtype: float64

In [73]:
credit_card_data.loc[:,['V3','V4']].describe()

                 V3            V4
count  47627.000000  47627.000000
mean       0.694689      0.191060
std        1.519910      1.402208
min      -32.965346     -5.172595
25%        0.220591     -0.714465
50%        0.800268      0.195057
75%        1.432177      1.070586
max        4.101716     16.491217

In [74]:
credit_card_data['V5'].mean()

-0.2498247999093917

In [75]:
credit_card_data.loc[:,'V6'].fillna(credit_card_data['V6'].mean(),inplace=True)

In [76]:
credit_card_data.loc[:,'V5'].fillna(credit_card_data['V5'].mean(),inplace=True)

In [77]:
round(credit_card_data.isnull().sum().sort_values(ascending=False)/len(credit_card_data) * 100,2)

Time    0.0
V1      0.0
V26     0.0
V25     0.0
V24     0.0
V23     0.0
V22     0.0
V21     0.0
V20     0.0
V19     0.0
V18     0.0
V17     0.0
V16     0.0
V15     0.0
V14     0.0
V13     0.0
V12     0.0
V11     0.0
V10     0.0
V9      0.0
V8      0.0
V7      0.0
V6      0.0
V5      0.0
V4      0.0
V3      0.0
V2      0.0
V27     0.0
dtype: float64

In [78]:
credit_card_data.loc[:,['V7','V8']].describe()

                 V7            V8
count  47627.000000  47627.000000
mean      -0.119863      0.053449
std        1.282115      1.216943
min      -26.548144    -41.484823
25%       -0.602244     -0.146951
50%       -0.074940      0.057085
75%        0.425897      0.329624
max       36.677268     20.007208

In [80]:
credit_card_data.groupby('V3').V3.count().sort_values(ascending=False)

V3
-0.495757    36
-0.083297    28
 1.857002    24
-0.551952    23
-0.061407    19
             ..
 0.441486     1
 0.441497     1
 0.441523     1
 0.441527     1
 4.101716     1
Name: V3, Length: 46570, dtype: int64

In [81]:
credit_card_data['V1'].astype('V2').value_counts()

b'.7'          37
b'\xd6\xf6'    28
b'\xc4\xd4'    25
b'\xcc\xbc'    25
b'\x8d\xb8'    20
               ..
b'9P'           1
b'v\xd8'        1
b'\xeb\xc4'     1
b'V\x11'        1
b'\x10\xe9'     1
Name: V1, Length: 33253, dtype: int64

In [82]:
credit_card_data.loc[:,'V7'].fillna(2,inplace=True)

In [84]:
round(credit_card_data.isnull().sum().sort_values(ascending=False)/len(credit_card_data) * 100,2)

Time    0.0
V1      0.0
V26     0.0
V25     0.0
V24     0.0
V23     0.0
V22     0.0
V21     0.0
V20     0.0
V19     0.0
V18     0.0
V17     0.0
V16     0.0
V15     0.0
V14     0.0
V13     0.0
V12     0.0
V11     0.0
V10     0.0
V9      0.0
V8      0.0
V7      0.0
V6      0.0
V5      0.0
V4      0.0
V3      0.0
V2      0.0
V27     0.0
dtype: float64

In [86]:
len(credit_card_data/len(Orgcredit_card_data) * 100000)

47627